body {
    font-family: "Lucida Handwriting", Times, Cursive;
    font-family: Helvetica;
    background-image: linear-gradient(black, grey,black);
    text-align: center

    ;
 
}

h1{
    color: white;
    text-align: center;
    color:blue;
}

.eyesore {
    background-image: linear-gradient(#FF66CC, #ffff00);
    width: 50%;
    text-align: center;
    margin: 0 auto;

}
h1 {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
    
}
.title{
    text-align: center;
}

h1:hover{
    transform: scale(2);
    background-color: gold;
}

body {
           background-image: url('https://www.plm.automation.siemens.com/media/global/en/is-820219790-640x360_tcm27-49149.jpg');

        }