body {
    font-family: Helvetica;
    text-align: center
    background-image: linear-gradient(black, grey,black);
}

h1 {
    background-image: linear-gradient(to right, red,orange,yellow,green,blue,indigo,violet);
}