<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" type="text/css" />
    </head>
    <body>
        <h1>CS490 HW7</h1>
        <img src="https://images.wallpapersden.com/image/download/pink-sky-in-urban-city_64746_4000x6000.jpg" width="100" height="100"></img>
        <h2>Greetings Classmates!</h2>
        <audio controls autoplay>
            <source src='https://p.scdn.co/mp3-preview/22bf10aff02db272f0a053dff5c0063d729df988?cid=008468e3cc40485389d5bc87871f2c3c'>
            Your browser does not support the audio element.
        </audio>
        
    </body>
</html>